.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #232323;
  background-color: rgba(var(--background-start-rgba));
  padding: 0.25rem 0;
  height: 70px;
}

.navbar .nav-link {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  opacity: 0.5;
  transition: 0.3s;
  background-color: transparent;
  color: white;
  border: none;
  margin: 0 auto;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  opacity: 1;
}
