.clock-section {
  padding-top: 1rem;
  padding-bottom: 80px;
}

.clock-section .clock {
  text-align: center;
}

.clock-section .clock .time {
  font-size: 60px;
}

.clock-section .clock .date {
  opacity: 0.75;
  margin-bottom: 1rem;
}

.clock-section .action {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 70px;
  left: 0;
  right: 1rem;
  padding-bottom: 1rem;
}

.clock-section .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: calc(100vh - calc(80px + 70px) - 200px);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.clock-section .list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.clock-section .list .item .detail .timezone-clock {
  font-size: 24px;
}

.clock-section .list .item .detail .timezone-label {
  font-weight: normal;
  font-size: 14px;
}

.clock-section .list .item .detail p {
  opacity: 0.5;
  font-size: 12px;
}

.clock-section .list .item .btn-delete {
  border-radius: 1rem;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-section .list .item .btn-delete:hover,
.clock-section .list .item .btn-delete:active {
  background-color: rgba(255, 255, 255, 0.05);
}

.modal-add-list .timezones {
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-add-list .timezones .timezone {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
}

.modal-add-list .timezones .timezone:hover {
  /* background-color: rgba(255, 255, 255, 0.25); */
  background-color: var(--mantine-primary-color-filled);
}

.modal-add-list .timezones .timezone h4 {
  text-wrap: wrap;
}

.modal-add-list .timezones .timezone p {
  opacity: 0.5;
  font-size: 75%;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .clock-section .clock .time {
    font-size: 48px;
    margin-top: 1rem;
  }

  .clock-section .list {
    position: fixed;
    bottom: calc(80px + 80px);
    left: 1.5rem;
    right: 1.5rem;
    top: 200px;
    max-height: unset;
  }

  .modal-add-list .timezones {
    max-height: unset;
    position: fixed;
    top: 110px;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
}
